html,section,#abc{
    background-color:mediumvioletred;
    
  }

  #abc{
    border: none;
  }
  

  #fbody,#userName,#password{
    background-color:rgba(0, 0, 0, 0.288);
    border: 2px ridge aqua;
    border-radius: 20px;
  }
  #login{
    color:deeppink;
  }

  label{
    font-size:22px;
    
   
  }
  #userName,#password{
    background-color:rgba(246, 5, 246, 0.393);
    border-radius: 10px;
    font-size:22px;
    
  }
 #loginphoto{
  border: 2px ridge blueviolet;
  border-radius: 50%;
 }
